.blank-slate {
  height: 100vh;
  background-color: #fefefe;
}
.address-book form {
  color: #555;
  padding: 2px;
  display: flex;
  border-radius: 5px;
  background-color: var(--color-blue-menu);
  border: 1px solid none;
}
input[type="search"] {
  margin: 0;
  border: none;
  color: inherit;
  font-size: 14px;
  padding: 7px 8px;
  border-radius: inherit;
  background: transparent;
  border: 1px solid transparent;
}
button[type="submit"] {
  margin: 0;
  padding: 0;
  width: 40px;
  overflow: hidden;
  text-indent: -99px;
  border-radius: inherit;
  border: 1px solid transparent;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}
button[type="submit"]:hover {
  opacity: 1;
}
button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  outline: none;
}
section.address-book {
  gap: 1rem;
  display: grid;
  max-width: 100%;
  grid-template-areas:
    "a a"
    "b c";
  margin: var(--flex-gap-small) var(--flex-gap-small);
}
.header__left a {
  color: inherit;
  text-decoration: none;
}
.contacts-display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--flex-gap-small);
  grid-area: a;
  background-color: var(--color-blue-menu-2);
  padding: 2rem;
}
.side-bar-container,
.contacts-container {
  height: calc(100vh - 15rem);
  background-color: var(--color-blue-menu-2);
}
aside {
  padding: 2rem;
}
aside menu {
  gap: 1rem;
  width: 100%;
  height: 50%;
  grid-area: b;
  display: flex;
  flex-direction: column;
}
aside menu a {
  text-decoration: none;
}
.menu-item {
  gap: 1rem;
  display: flex;
  align-items: center;
}
span.person {
  display: flex;
  font-size: 3rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
span.material-symbols-outlined.menu {
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: var(--flex-gap-large);
  height: var(--flex-gap-large);
  background-color: var(--color-blue-menu);
}
.header-container {
  gap: 20rem;
  display: grid;
  align-items: center;
  grid-template-columns: 95% 5%;
}
.contacts-container .profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
  gap: var(--flex-gap-small);
}
.header__right {
  display: flex;
  gap: var(--flex-gap-small);
  float: right;
}
.user-container {
  width: 100%;
  grid-area: c;
}
.header-contact-link {
  margin-right: var(--flex-gap-large);
}
form input[type="search"] {
  width: 60rem;
}
form input:placeholder-shown {
  font-weight: var(--font-weight-medium);
}
.profile-container {
  /* display: grid; */
  grid-column: 1/-1;
  align-items: center;
  gap: var(--flex-gap-large);

  text-transform: capitalize;
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-medium);
}
.user-img__container img {
  /* top: 50%; */
  height: 35%;
  position: absolute;
  border-radius: 50%;
  margin-top: var(--margin-top-medium);
  /* transform: translate(0%, -50%); */
}
.contacts-list-container {
  padding: 1.5rem 1rem 0.25rem 1rem;
}
.contacts-list-container a {
  cursor: pointer;
  text-decoration: none;
}
.contact-name {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.contact-name img {
  width: 10%;
  margin-top: 1rem;
}
.contact-name p {
  width: 90%;
}
table {
  width: 100%;
  text-align: left;
  table-layout: fixed;
  border-collapse: collapse;
}
thead th:nth-child(1) {
  width: 2%;
}
thead th:nth-child(2) {
  width: 10%;
}
thead th:nth-child(3) {
  width: 10%;
}
thead th:nth-child(4) {
  width: 10%;
}
td img {
  height: 4rem;
  border-radius: 50%;
}
thead tr {
  border-bottom: 1px solid #000;
}

/* Preview New Contact */
.new--contact-window {
  top: 50%;
  left: 50%;
  width: 75rem;
  height: 85%;
  position: fixed;
  overflow-y: auto;
  border-radius: 9px;
  overflow-y: hidden;
  background-color: white;
  transform: translate(-50%, -50%);

  z-index: 100;
  padding: 4rem 6rem;
  transition: all 0.5s;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hidden {
  display: none;
}
.new--btn--close-modal {
  top: 0.5rem;
  border: none;
  right: 1.6rem;
  color: inherit;
  cursor: pointer;
  background: none;
  font-size: 3.5rem;
  position: absolute;
  font-family: inherit;
}
.new--overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(190, 190, 190, 0.4);
  backdrop-filter: blur(4px);
  z-index: 99;
  transition: all 0.5s;
}
input[id="new--dialog"] {
  display: none;
}
.new--profile-container {
  gap: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  flex-direction: column;
}
.new--img__container {
  width: 12rem;
  height: 12rem;
  cursor: pointer;
  grid-column: 1/-1;
  border-radius: 50%;
  position: relative;
  transition: all 0.4s ease-in-out;
  border: solid 1px var(--color-grey-100);
}
.new--img__container:hover {
  background-color: var(--color-grey-100);
}
.new--img__container .new--profile-img,
.new--img__container img {
  top: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  transform: translate(0%, -50%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
.new--add-contact-icon {
  top: 70%;
  left: 70%;
  z-index: 110;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  position: relative;
  background-color: var(--color-grey-0);
  border: solid 4px var(--color-grey-0);
}
.new--circle-plus {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  font-size: 3.5rem;
  position: absolute;
  transition: all 0.2s;
  transform: translate(-10%, -10%);
  fill: var(--color-secondary-light);
}
.new--circle-plus:hover {
  color: var(--color-secondary);
}
div[id="new--contact-name"] label {
  font-weight: 600;
  font-family: inherit;
  font-size: var(--font-size-24);
}
.personal-info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#preview-dob,
#preview-website,
#preview-email-address,
#preview-mobile-number {
  font-weight: 600;
  padding-right: 1rem;
  text-transform: lowercase;
  font-size: 1.2rem !important;
}
.personal-info-block label:not(:first-child) {
  color: var(--color-grey-600);
  font-size: var(--font-size-default) !important;
}
.new--personal-info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: space-between;
  gap: 2.5rem;
  margin-bottom: 2rem;
}
.new--contact-window .social-handles img {
  margin: 0;
}
.new--social-handles {
  display: grid;
  gap: 1rem;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(4, 1fr);
}
.new--social-handles-header {
  text-align: center;
  margin: 3.6rem 0 2.4rem 0;
  font-size: var(--font-size-h3);
}
tbody tr {
  cursor: pointer;
}
tbody tr:hover {
  background: var(--color-blue-menu);
}
.icon--edit,
.icon--delete {
  width: 2rem;
  height: 2rem;
  padding-top: 0.5rem;
}
/* .tooltip-text {
  opacity: 0;
  z-index: 1200;
  color: inherit;
  font-size: 1rem;
  text-align: right;
  visibility: hidden;
  transition: opacity 0.5s;
  transition-delay: 0.5s;
} */

.tooltip-text {
  position: absolute;
  top: -40px;
  left: -50%;
  z-index: 2;
  width: 100px;
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}
.fade {
  opacity: 0;
  transition: opacity 0.5s;
}
.hover-text {
  position: relative;
  display: inline-block;
  /* margin: 40px; */
  font-family: Arial;
  text-align: center;
}
#bottom {
  top: 25px;
  left: -50%;
}
.hover-text:hover .tooltip-text {
  visibility: visible;
}
.iti__arrow.hidden {
  display: hidden;
}
