@media screen and (min-width: 1285px) {
  .new--personal-info-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .pib-website {
    grid-column: span 2;
  }
}

@media screen and (max-width: 1100px) {
  thead tr th:nth-child(5) {
    display: none;
  }
  tbody tr td:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 1021px) {
  .side-bar-container {
    display: none;
  }
  .contacts-container {
    grid-column: span 2 !important;
  }
}
@media only screen and (max-width: 828px) {
  .search-box:hover > .search-txt {
    width: 12.5rem;
  }
  .add-contact-window,
  .new--contact-window {
    height: 90%;
    max-width: 85%;
  }
}
@media screen and (max-width: 780px) {
  .name,
  .prefix,
  .mobile {
    gap: 1.75rem;
  }
}
@media screen and (min-width: 720px) {
  .name,
  .prefix,
  .mobile {
    gap: 1.5rem;
  }
}
@media screen and (min-width: 720px) and (orientation: landscape) {
  .name,
  .prefix,
  .mobile {
    gap: 0;
  }
}
@media screen and (max-width: 700px) {
  thead tr th:nth-child(4) {
    display: none;
  }
  tbody tr td:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .new--personal-info-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .pib-website {
    grid-column: span 2;
  }
  .new--social-handles {
    grid-template-columns: repeat(3, 1fr);
  }
  .add-contact-window,
  .new--contact-window {
    height: 90%;
  }
  button#btn--edit {
    margin-top: 10rem;
  }
}
@media screen and (max-width: 570px) {
  .header__left,
  .header__right {
    gap: 1rem;
  }
  .show-more-title {
    font-size: 1.4rem;
  }
  .show-more {
    margin-right: 1rem;
  }

  button#btn--edit {
    margin-top: 15rem;
  }
}
@media screen and (max-width: 510px) {
  .website.social {
    align-items: center;
    grid-template-columns: auto;
  }
  .social-handles,
  .website {
    align-items: center;
  }
  .social-handles:last-child:not(.social-handles.personal-info-block) {
    margin-top: var(--margin-bottom-small);
  }
  input[id="x"],
  input[id="tiktok"],
  input[id="youtube"],
  input[id="linkedin"],
  input[id="facebook"],
  input[id="snapchat"],
  input[id="instagram"],
  input[id="pinterest"] {
    width: 100%;
  }
  div[id="new--contact-name"] label {
    font-size: 2rem;
    text-align: center;
  }
  .new--social-handles {
    grid-template-columns: repeat(2, 1fr);
  }
  button#btn--edit {
    margin-top: 20rem;
  }
}
@media screen and (max-width: 450px) {
  .name,
  .prefix,
  .mobile {
    gap: 2rem;
  }
  .no-records {
    font-size: var(--font-size-48);
  }
  .new-record {
    font-size: var(--font-size-18);
  }
  .add-record {
    font-size: var(--font-size-18);
  }
  .new--personal-info-container {
    line-height: 2rem;
    display: inline-block;
  }
  button#btn--edit {
    margin-top: 15rem;
  }
  .add-contact-window,
  .new--contact-window {
    height: 95%;
  }
}
/* iPhone 12s */
@media only screen and (min-width: 390px) and (max-width: 844px) {
  .add-contact-window,
  .new--contact-window {
    height: 75%;
    width: 100%;
    max-width: 100%;
  }
  .form-footer {
    margin: 3rem 0;
  }
  .header-contact-link {
    margin-right: 0;
  }
  thead tr th:nth-child(1),
  thead tr th:nth-child(2) {
    width: 10%;
  }
}
@media only screen and (min-width: 390px) and (max-width: 844px) and (orientation: landscape) {
  .add-contact-window,
  .new--contact-window {
    height: 90%;
    width: 75%;
    max-width: 100%;
  }
  button > *:first-child {
    margin-top: 40%;
  }
  .expand_more,
  .expand_less {
    margin-left: 1rem;
  }
  .form-footer {
    margin: 3rem 0;
  }
  thead tr th:nth-child(1),
  thead tr th:nth-child(2) {
    width: 5%;
  }
}
/* Samsung Galaxy S8 */
@media only screen and (min-width: 360px) and (max-width: 740px) {
  .add-contact-window,
  .new--contact-window {
    height: 75%;
    width: 100%;
    max-width: 100%;
  }
  .form-footer {
    margin: 3rem 0;
  }
  .header-contact-link {
    margin-right: 0;
  }
  thead tr th:nth-child(1),
  thead tr th:nth-child(2) {
    width: 10%;
  }
  .header-contact-link {
    display: none;
  }
}
@media only screen and (min-width: 360px) and (max-width: 740px) and (orientation: landscape) {
  .add-contact-window,
  .new--contact-window {
    height: 75%;
    width: 100%;
    max-width: 100%;
  }
  .form-footer {
    margin: 3rem 0;
  }
  .header-contact-link {
    margin-right: 0;
  }
  thead tr th:nth-child(1),
  thead tr th:nth-child(2) {
    width: 5%;
  }
}
